name: CI

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - main
      - dev

jobs:

  snakemake-graphs-format:
    runs-on: ubuntu-20.04
    defaults:
      run:
        shell: bash -l {0}
    steps:

      - name: Checkout zarp repository
        uses: actions/checkout@v3

      - name: Setup miniconda & zarp env
        uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: 3.7.4
          mamba-version: "0.16.0"
          channels: conda-forge
          channel-priority: true
          auto-update-conda: false
          activate-environment: zarp
          environment-file: install/environment.yml
          auto-activate-base: false

      - name: Update zarp env with root. packages
        run: mamba env update -n zarp -f install/environment.root.yml

      - name: Update zarp env with dev. packages
        run: mamba env update -n zarp -f install/environment.dev.yml

      - name: Display all miniconda & env info
        run: |
          conda info -a
          conda list

      - name: Run test script for snakemake format
        run: bash tests/test_format/test_snakefmt.sh
      
      - name: Run test script for snakemake lint
        run: bash tests/test_format/test_snakemake_lint.sh

      - name: Run test script for snakemake rulegraph
        run: bash tests/test_create_rule_graph/test.sh

      - name: Run test script for snakemake DAG
        run: bash tests/test_create_dag_image/test.sh


  integration-singularity:
    needs:
      - snakemake-graphs
    runs-on: ubuntu-20.04
    defaults:
      run:
        shell: bash -l {0}
    steps:

      - name: Checkout zarp repository
        uses: actions/checkout@v3

      - name: Setup miniconda & zarp env
        uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: 3.7.4
          mamba-version: "0.16.0"
          channels: conda-forge
          channel-priority: true
          auto-update-conda: false
          activate-environment: zarp
          environment-file: install/environment.yml
          auto-activate-base: false
      
      - name: Update zarp env with root. packages
        run: mamba env update -n zarp -f install/environment.root.yml
      
      - name: Update zarp env with dev. packages
        run: mamba env update -n zarp -f install/environment.dev.yml

      - name: Display all miniconda & env info
        run: |
          conda info -a
          conda list
      - name: Run test script
        run: bash tests/test_integration_workflow/test.local.sh

  integration-singularity-tempflag:
    needs:
      - snakemake-graphs
    runs-on: ubuntu-20.04
    defaults:
      run:
        shell: bash -l {0}
    steps:

      - name: Checkout zarp repository
        uses: actions/checkout@v3

      - name: Setup miniconda & zarp env
        uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: 3.7.4
          mamba-version: "0.16.0"
          channels: conda-forge
          channel-priority: true
          auto-update-conda: false
          activate-environment: zarp
          environment-file: install/environment.yml
          auto-activate-base: false

      - name: Update zarp env with root. packages
        run: mamba env update -n zarp -f install/environment.root.yml

      - name: Update zarp env with dev. packages
        run: mamba env update -n zarp -f install/environment.dev.yml

      - name: Display all miniconda & env info
        run: |
          conda info -a
          conda list
      - name: Run test script
        run: bash tests/test_integration_workflow/test.temp.flag.sh

  integration-singularity-MultipleLanes:
    needs:
      - snakemake-graphs
    runs-on: ubuntu-20.04
    defaults:
      run:
        shell: bash -l {0}
    steps:

      - name: Checkout zarp repository
        uses: actions/checkout@v3

      - name: Setup miniconda & zarp env
        uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: 3.7.4
          mamba-version: "0.16.0"
          channels: conda-forge
          channel-priority: true
          auto-update-conda: false
          activate-environment: zarp
          environment-file: install/environment.yml
          auto-activate-base: false

      - name: Update zarp env with root. packages
        run: mamba env update -n zarp -f install/environment.root.yml

      - name: Update zarp env with dev. packages
        run: mamba env update -n zarp -f install/environment.dev.yml

      - name: Display all miniconda & env info
        run: |
          conda info -a
          conda list
      - name: Run test script
        run: bash tests/test_integration_workflow_multiple_lanes/test.local.sh

  integration-conda:
    needs:
      - snakemake-graphs
    runs-on: ubuntu-20.04
    defaults:
      run:
        shell: bash -l {0}
    steps:

      - name: Checkout zarp repository
        uses: actions/checkout@v3

      - name: Setup miniconda & zarp env
        uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: 3.7.4
          mamba-version: "0.16.0"
          channels: conda-forge
          channel-priority: true
          auto-update-conda: false
          activate-environment: zarp
          environment-file: install/environment.yml
          auto-activate-base: false

      - name: Update zarp env with dev. packages
        run: mamba env update -n zarp -f install/environment.dev.yml

      - name: Display all miniconda & env info
        run: |
          conda info -a
          conda list
      - name: Run test script
        run: bash tests/test_integration_workflow_with_conda/test.local.sh

      - name: Run SRA downloads workflow
        run: bash tests/test_sra_download_with_conda/test.local.sh